# 📦 Data & API
pandas==2.3.0
numpy==1.26.4
requests==2.32.4
python-dotenv==1.1.0

# 🧠 ML
scikit-learn==1.7.0
lightgbm==4.5.0
joblib==1.5.1
optuna==4.3.0
optuna-integration[lightgbm]==4.3.0

# 🌐 API
fastapi==0.115.1
uvicorn==0.34.0

# 📬 Telegram
python-telegram-bot==21.2
